<!doctype html>
<html ng-app="myApp">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>
</head>
<body>
<div ng-controller="FirstController">

    <div>
        imgur Username <input type='text' width="200" max='9999' ng-model='userName'/>
        <button ng-click="getFavourites(userName, 0)">GET</button>
    </div>
    <hr> </hr>
    
    Filter Favourites <input type='text' width="200" max='9999' ng-model='search_string'/>
    
    <table >
    <tbody ng:repeat="item in entries | filter:search_string">
        <tr height="100">
            <td style="padding:10px 10px 10px 10px;"><a href="{{item.link}}" target="_blank"><img src="{{item.curatedLink}}" height="80" width="80"></a></td>
            <td>{{item.title}}</td>
        
        </tr>
        
    </tbody>
</table>
    
</div>


<script src="FirstController.js">


</script>
</body>
</html>